# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
.vercel/
.netlify/

# Astro
.astro/

# Environment Variables
.env
.env.production
.env.local
.env.*.local

# MacOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode/
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?
